<form id="f2" [formGroup]="detform" novalidate (ngSubmit)="detform.valid && AddDetail($event)">
    <!--(change)="onProdChange($event)"
(change)="onColorChange($event)"-->
    <div class="form-horizontal">
        <div class="form-group row">
            <label for="ModelID" class="form-control-label col-md-2">{{Detmodel.DisplayNames.ModelName.Disp}}</label>
            <div class="col-md-10">
                <select class="form-control" name="ModelID" [(ngModel)]="selectedModelID" [formControl]="detform.controls['ModelID']">
                    <option value="">Select a Model ...</option>
                    <option *ngFor="let i of models" [ngValue]="i.ModelID">{{i.ModelName}}</option>
                </select>
                <div *ngIf="detform.controls['ModelID'].touched && !detform.controls['ModelID'].valid" class="alert alert-danger">{{Detmodel.DisplayNames.ModelName.Disp}} is required.</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="ColorID" class="form-control-label col-md-2">{{Detmodel.DisplayNames.ColorName.Disp}}</label>
            <div class="col-md-10">
                <select class="form-control" id="ColorID" name="ColorID" [(ngModel)]="Detmodel.ColorID" [formControl]="detform.controls['ColorID']"
                    required>
                    <option value="">Select a Color ...</option>
                    <option *ngFor="let i of colorList" [value]="i.ColorID">{{i.ColorName}}</option>
                </select>
                <div *ngIf="detform.controls['ColorID'].touched && !detform.controls['ColorID'].valid" class="alert alert-danger">{{Detmodel.DisplayNames.ColorName.Disp}} is required.</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="BatchNo" class="form-control-label col-md-2">{{Detmodel.DisplayNames.BatchNo.Disp}}</label>
            <div class="col-md-4">
                <select class="form-control" id="BatchNo" name="BatchNo" [(ngModel)]="bno" [formControl]="detform.controls['BatchNo']"
                    required>
                    <option [value]="">Select a BatchNo ...</option>
                    <option *ngFor="let i of BatchList" [ngValue]="i.BatchNo">{{i.BatchNo}}</option>
                </select>
                <div *ngIf="detform.controls['BatchNo'].touched && !detform.controls['BatchNo'].valid" class="alert alert-danger">{{Detmodel.DisplayNames.BatchNo.Disp}} is required.</div>
            </div>

            <label for="Stock" class="form-control-label col-md-2">{{Detmodel.DisplayNames.Stock.Disp}}</label>
            <div class="col-md-4">
                <input class="form-control" type="number" name="Stock" [(ngModel)]="Detmodel.Stock" [formControl]="detform.controls['Stock']"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="Quantity" class="control-label col-md-2">{{Detmodel.DisplayNames.Quantity.Disp}}</label>
            <div class="col-md-10">
                <input class="form-control" type="number" name="Quantity" [(ngModel)]="Detmodel.Quantity" [formControl]="detform.controls['Quantity']"
                    required min="0" [max]="Detmodel.Stock"/>
                <div *ngIf="!detform.controls['Quantity'].valid" class="alert alert-danger">
                    <span *ngIf="detform.controls['Quantity'].hasError('required')">{{Detmodel.DisplayNames.Quantity.Disp}} is required.</span>
                    <span *ngIf="detform.controls['Quantity'].hasError('min')">{{Detmodel.DisplayNames.Quantity.Disp}} must be greater than or equal 0.</span>
                    <span *ngIf="detform.controls['Quantity'].hasError('max')">{{Detmodel.DisplayNames.Quantity.Disp}} must be less than Current Store Stock.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-info" *ngIf="!EditForm" [disabled]="!detform.valid"/>
                <button value="Edit" (click)="EditDetail()" class="btn btn-success" *ngIf="EditForm" [disabled]="!detform.valid">Edit</button>
                <button value="Cancel" (click)="CancelEdit()" class="btn btn-danger" *ngIf="EditForm">Cancel</button>
            </div>
        </div>
    </div>
</form>