<div class="panel panel-default zz">
	<div class="panel-heading">

		<h2> {{headerText}} </h2>
		<button *ngIf="!Formstate" class="btn btn-primary" (click)="CreateNew()">Create New</button>
		<br><br>
		<div class="alert alert-danger" *ngIf="errorMessage">
			<p>{{errorMessage}}</p>
		</div>
	</div>
	<div [@myAnimation]="showTable" class="panel-body table-responsive" *ngIf="showTable">
		<table id="tblClothMaterials" class="table table-hover table-striped table-responsive">
			<colgroup>
				<col width="20%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="15%" />
				<col width="15%" />
			</colgroup>
			<thead>
				<tr>
					<th> {{srchObj.DisplayNames.MaterialName.Disp}} <i (click)="SortTable('MaterialName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('MaterialName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.Onz.Disp}} <i (click)="SortTable('Onz')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('Onz') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.Color.Disp}} <i (click)="SortTable('Color')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('Color') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.ClothLength.Disp}} <i (click)="SortTable('ClothLength')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('ClothLength') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.ClothWidth.Disp}} <i (click)="SortTable('ClothWidth')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('ClothWidth') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.Unit.Disp}} <i (click)="SortTable('Unit')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('Unit') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> {{srchObj.DisplayNames.UserName.Disp}} <i (click)="SortTable('UserName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('UserName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th></th>
				</tr>
				<tr>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchMaterialName" name="MaterialName" [(ngModel)]="srchMat.MaterialName">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchOnz" name="Onz" [(ngModel)]="srchMat.Onz">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchColor" name="Color" [(ngModel)]="srchMat.Color">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchClothLength" name="ClothLength" [(ngModel)]="srchMat.ClothLength">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchClothWidth" name="ClothWidth" [(ngModel)]="srchMat.ClothWidth">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input  class="form-control" type="text" id="srchUnit" name="Unit" [(ngModel)]="srchMat.Unit">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
							<input class="form-control" type="text" id="srchUserName" name="UserName" [(ngModel)]="srchMat.UserName">
						</div>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of (collection | filter:srchMat | orderby:orderbyString | paginate: { itemsPerPage: 10, currentPage: p })">
					<td>{{item.MaterialName}}</td>
					<td>{{item.Onz}}</td>
					<td>{{item.Color}}</td>
					<td>{{item.ClothLength}}</td>
					<td>{{item.ClothWidth}}</td>
					<td>{{item.Unit}}</td>
					<td>{{item.UserName}}</td>
					<td>
						<button (click)="EditThis(item.MaterialID)" class="btn btn-info btn-icon" title="Edit"><i class="icon ion-edit"></i></button>
						<button (click)="ShowDetails(item.MaterialID)" class="btn btn-success btn-icon" title="Details"><i class="icon ion-eye"></i></button>
						<button (click)="Delete(item.MaterialID)" class="btn btn-danger btn-icon" title="Delete"><i class="icon ion-trash-a"></i></button>
					</td>
				</tr>

			</tbody>
		</table>
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>

	<div [@myAnimation]="!showTable" class="panel-body" *ngIf="Formstate">
		<form (submit)="HandleForm($event)">
			<div class="form-horizontal">

				<h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this fabric ?</h2>
				<br>

				<div class="form-group row">
					<label for="MaterialName" class="control-label col-md-4">{{srchObj.DisplayNames.MaterialName.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="MaterialName" [(ngModel)]="model.MaterialName">
					</div>
				</div>
				<div class="form-group row">
					<label for="Onz" class="control-label col-md-4">{{srchObj.DisplayNames.Onz.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="Onz" [(ngModel)]="model.Onz">
					</div>
				</div>
				<div class="form-group row">
					<label for="Color" class="control-label col-md-4">{{srchObj.DisplayNames.Color.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="Color" [(ngModel)]="model.Color">
					</div>
				</div>
				<div class="form-group row">
					<label for="Unit" class="control-label col-md-4">{{srchObj.DisplayNames.Unit.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="Unit" [(ngModel)]="model.Unit">
					</div>
				</div>
				<div class="form-group row">
					<label for="ClothWidth" class="control-label col-md-4">{{srchObj.DisplayNames.ClothWidth.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="ClothWidth" [(ngModel)]="model.ClothWidth">
					</div>
				</div>
				<div class="form-group row">
					<label for="ClothLength" class="control-label col-md-4">{{srchObj.DisplayNames.ClothLength.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="ClothLength" [(ngModel)]="model.ClothLength">
					</div>
				</div>
				<div class="form-group row">
					<label for="IndigoGrade" class="control-label col-md-4">{{srchObj.DisplayNames.IndigoGrade.Disp}}</label>
					<div class="col-md-8">
						<input class="form-control" type="text" name="IndigoGrade" [(ngModel)]="model.IndigoGrade">
					</div>
				</div>
				<div class="form-group row">
					<label for="ShrinkPercent" class="control-label col-md-4">{{srchObj.DisplayNames.ShrinkPercent.Disp}}</label>
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon addon-left">%</span>
							<input class="form-control" type="text" name="ShrinkPercent" [(ngModel)]="model.ShrinkPercent">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="CottonPercent" class="control-label col-md-4">{{srchObj.DisplayNames.CottonPercent.Disp}}</label>
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon addon-left">%</span>
							<input class="form-control" type="text" name="CottonPercent" [(ngModel)]="model.CottonPercent">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="LykraPercent" class="control-label col-md-4">{{srchObj.DisplayNames.LykraPercent.Disp}}</label>
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon addon-left">%</span>
							<input class="form-control" type="text" name="LykraPercent" [(ngModel)]="model.LykraPercent">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="PolyesterPercent" class="control-label col-md-4">{{srchObj.DisplayNames.PolyesterPercent.Disp}}</label>
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon addon-left">%</span>
							<input class="form-control" type="text" name="PolyesterPercent" [(ngModel)]="model.PolyesterPercent">
						</div>
					</div>
				</div>
				<div class="form-group no-print col-md-offset-2 col-md-8">
					<button type="submit" value="Save" class="btn btn-info" *ngIf="Formstate!='Detail' && Formstate!='Delete'">Save</button>					|
					<button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button> |
					<button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
				</div>
			</div>
		</form>
	</div>
</div>