<div class="panel panel-default zz">
    <div class="panel-heading">

        <h2> {{headerText}} </h2>
        <button *ngIf="!Formstate && currentUser.jobClass < 1" class="btn btn-primary" (click)="CreateNew()">Create New</button>
        <br><br>
        <div class="alert alert-danger" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <div [@myAnimation]="showTable" class="panel-body table-responsive" *ngIf="showTable">
        <table id="tblBrands" class="table table-hover text-center table-striped table-responsive">
            <colgroup>
                <col width="20%" />
                <col width="40%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>
            <thead class="bg-dark text-white font-weight-bold">
                <tr>
                    <th> {{srchObj.DisplayNames.BrandID.Disp}} <i (click)="SortTable('BrandID')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('BrandID') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
                    <th> {{srchObj.DisplayNames.BrandName.Disp}} <i (click)="SortTable('BrandName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('BrandName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
                    <th> {{srchObj.DisplayNames.UserName.Disp}} <i (click)="SortTable('UserName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('UserName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
                            <input class="form-control" type="text" id="srchBrandID" name="BrandID" [(ngModel)]="srchObj.BrandID">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
                            <input class="form-control" type="text" id="srchBrandName" name="BrandName" [(ngModel)]="srchObj.BrandName">
                        </div>
                    </th>
                    <th>
                        <div class="input-group">
                            <span class="input-group-addon addon-left" id="basic-addon1"><i class="icon ion-android-search"></i></span>
                            <input class="form-control" type="text" id="srchUserName" name="UserName" [(ngModel)]="srchObj.UserName">
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (collection | filter:srchObj | orderby:orderbyString | paginate: { itemsPerPage: 10, currentPage: p })">
                    <td>{{item.BrandID}}</td>
                    <td>{{item.BrandName}}</td>
                    <td>{{item.UserName}}</td>
                    <td>
                        <button *ngIf="currentUser.jobClass < 1" (click)="EditThis(item.BrandID)" class="btn btn-info btn-icon" title="Edit"><i class="icon ion-edit"></i></button>
                        <button (click)="ShowDetails(item.BrandID)" class="btn btn-success btn-icon" title="Details"><i class="icon ion-eye"></i></button>
                        <button *ngIf="currentUser.jobClass < 1" (click)="Delete(item.BrandID)" class="btn btn-danger btn-icon" title="Delete"><i class="icon ion-trash-a"></i></button>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div [@myAnimation]="!showTable" class="panel-body" *ngIf="Formstate">
        <form (submit)="f.form.valid && HandleForm($event)" #f="ngForm" novalidate>
            <div class="form-horizontal">

                <h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this brand ?</h2>
                <br>

                <div class="form-group row">
                    <label for="BrandName" class="control-label col-md-2">{{srchObj.DisplayNames.BrandName.Disp}}</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="BrandName" [(ngModel)]="model.BrandName" #brandName="ngModel" required>
                        <div *ngIf="f.submitted && !brandName.valid" class="alert alert-danger">{{srchObj.DisplayNames.BrandName.Disp}} is required</div>
                    </div>
                </div>

                <div class="form-group no-print col-md-offset-2 col-md-10">
                    <button type="submit" value="Save" class="btn btn-info" *ngIf="Formstate!='Detail' && Formstate!='Delete'">Save</button>                    |
                    <button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button>                    |
                    <button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
                </div>
            </div>
        </form>
    </div>
</div>