<div class="page-top clearfix no-print" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/home/dashboard" class="al-logo clearfix"><span>ng2-</span>admin</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link icon ion-navicon"></a>

  <div class="search">
    <i class="icon ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img [src]="currentUser.photo" alt="currentUser.userName">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a [routerLink]="['/home/profile']"><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a [routerLink]="['/home/pass']"><i class="fa fa-cog"></i>Change Password</a></li>
        <li class="dropdown-item"><a [routerLink]="['/logout']" (click)="SignOut()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>
