<div class="panel panel-default zz">
	<div class="panel-heading">

		<h2> {{headerText}} </h2>
		<button *ngIf="!Formstate && currentUser.isAdmin" class="btn btn-primary" (click)="CreateNew()">Create New</button>
		<br><br>
		<div class="alert alert-danger" *ngIf="errorMessage">
			<p>{{errorMessage}}</p>
		</div>
	</div>
	<div [@myAnimation]="showTable" class="panel-body table-responsive" *ngIf="showTable">
		<table id="tblUsers" class="table table-hover table-striped">
			<colgroup>
				<col width="40%" />
				<col width="20%" />
				<col width="15%" />
				<col width="25%" />
			</colgroup>
			<thead>
				<tr>
					<th> User Name <i (click)="SortTable('UserName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('UserName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> Login Name <i (click)="SortTable('LoginName')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('LoginName') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th> Job Class <i (click)="SortTable('JobClass')" class="btn btn-default" [ngClass]="(orderbyString.indexOf('JobClass') == 1) ? orderbyClass : 'fa fa-sort'"></i></th>
					<th></th>
				</tr>
				<tr>
					<th>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="ion-android-search"></i></span>
							<input type="text" id="srchUserName" name="UserName" [(ngModel)]="searchUser.UserName">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="ion-android-search"></i></span>
							<input type="text" id="srchLoginName" name="LoginName" [(ngModel)]="searchUser.LoginName">
						</div>
					</th>
					<th>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="ion-android-search"></i></span>
							<input type="text" id="srchJobClass" name="JobClass" [(ngModel)]="searchUser.JobClass">
						</div>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of (collection | filter:searchUser | orderby:orderbyString | paginate: { itemsPerPage: 10, currentPage: p })">
					<td>{{item.UserName}}</td>
					<td>{{item.LoginName}}</td>
					<td>{{item.JobClass}}</td>
					<td>
						<button *ngIf="currentUser.isAdmin" [disabled]="item.Approved" (click)='ApproveUser(item.UserID)' class="btn btn-success"
							title="Approve User"><i class="glyphicon glyphicon-ok"></i></button>
						<button *ngIf="currentUser.isAdmin" (click)='EditThis(item.UserID)' class="btn btn-info btn-icon" title="Edit"><i class="ion-edit"></i></button>
						<button (click)="ShowDetails(item.UserID)" class="btn btn-warning btn-icon" title="Details"><i class="ion-eye"></i></button>
						<button *ngIf="currentUser.isAdmin" (click)="Delete(item.UserID)" class="btn btn-danger btn-icon" title="Delete"><i class="ion-trash-a"></i></button>
					</td>
				</tr>

			</tbody>
		</table>
		<pagination-controls (pageChange)="p = $event"></pagination-controls>

	</div>

	<div [@myAnimation]="!showTable" class="panel-body" *ngIf="Formstate">
		<form [formGroup]="inputForm" (submit)="(inputForm.valid || Formstate == 'Delete') && HandleForm($event)" novalidate>
			<div class="form-horizontal">

				<h2 *ngIf="Formstate == 'Delete'">Are you sure you want to delete this user ?</h2>
				<br>

				<div class="form-group hidden">
					<input class="form-control" type="text" name="UserID" [(ngModel)]="model.UserID" [formControl]="inputForm.controls['UserID']">
				</div>
				<div class="form-group">
					<label for="UserName" class="control-label col-md-2">User Name</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="UserName" (focusout)="CompleteLogin()" [(ngModel)]="model.UserName" [formControl]="inputForm.controls['UserName']">
						<div class='error' *ngIf="inputForm.controls['UserName'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.controls['UserName'].hasError('required')">User name is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="LoginName" class="control-label col-md-2">Login Name</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="LoginName" [(ngModel)]="model.LoginName" [formControl]="inputForm.controls['LoginName']">
						<div class='error' *ngIf="inputForm.controls['LoginName'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.controls['LoginName'].hasError('required')">Login name is required.</div>
							<div class="alert alert-danger" *ngIf="inputForm.controls['LoginName'].hasError('minlength')">Login name must be minimum 5 characters.</div>
							<div class="alert alert-danger" *ngIf="inputForm.controls['LoginName'].hasError('maxlength')">Login name must be maximum 200 characters.</div>
						</div>
					</div>
				</div>
				<div class="form-group" *ngIf="Formstate!='Delete'">
					<label for="UserPass" class="control-label col-md-2">User Password</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="UserPass" [(ngModel)]="model.UserPass" [formControl]="inputForm.controls['UserPass']">
						<div class='error' *ngIf="inputForm.controls['UserPass'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.controls['UserPass'].hasError('required')">User Password is required.</div>
							<div class="alert alert-danger" *ngIf="inputForm.controls['UserPass'].hasError('minlength')">User Password must be minimum 5 characters.</div>
							<div class="alert alert-danger" *ngIf="inputForm.controls['UserPass'].hasError('maxlength')">User Password must be maximum 200 characters.</div>
						</div>
					</div>
				</div>
				<div class="form-group" *ngIf="Formstate!='Delete'">
					<label for="ConfPass" class="control-label col-md-2">Confirm Password</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="ConfPass" [formControl]="inputForm.controls['ConfPass']">
						<div class='error' *ngIf="inputForm.controls['ConfPass'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="JobClass" class="control-label col-md-2">Job Class</label>
					<div class="col-md-10">
						<select class="form-control" name="JobClass" [(ngModel)]="model.JobClass" [formControl]="inputForm.controls['JobClass']">
							<option value="">Select a Job Class...</option>
							<option *ngFor="let i of classList" [ngValue]="i.name">{{i.name}}</option>
						</select>
						<div class='error' *ngIf="inputForm.controls['JobClass'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.controls['JobClass'].hasError('required')">Job Class is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="Email" class="control-label col-md-2">Email</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="Email" key (focusout)="CompleteLogin()" [(ngModel)]="model.Email" [formControl]="inputForm.controls['Email']">
						<div class='error' *ngIf="inputForm.controls['Email'].touched">
							<div class="alert alert-danger" *ngIf="inputForm.controls['Email'].hasError('required')">Email is required.</div>
							<div class="alert alert-danger" *ngIf="inputForm.controls['Email'].hasError('invalidEmail')">Email is invalid; must be lowercase e.g.: john@doe.com</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="Phone" class="control-label col-md-2">Phone</label>
					<div class="col-md-10">
						<input class="form-control" type="text" name="Phone" key (focusout)="CompleteLogin()" [(ngModel)]="model.Phone" [formControl]="inputForm.controls['Phone']">
					</div>
				</div>
				<div class="form-group">
					<h3>Regions of Operation</h3>
					<label for="Region" class="control-label col-md-2">Add Region</label>
					<div class="col-md-6">
						<select class="form-control" name="selectedRegion" [(ngModel)]="selectedRegion" [ngModelOptions]="{standalone: true}">
							<option value="">Select a region</option>
							<option *ngFor="let item of regions" [ngValue]="item.RegionID">{{item.RegionName}} - {{item.ProvinceID}}</option>
						</select>
					</div>
					<div class=" col-md-2">
						<button class="form-control btn btn-success" type="button" (click)="addRegion()">Add</button>
					</div>
					<ul class="list-group col-md-8 col-md-offset-2">
						<li *ngFor="let item of userRegions; let i = index">
							<span hidden>{{item.RegionID}}</span>
							<span>{{item.RegionName}} - {{item.ProvinceID}}</span>
							<span class="btn btn-danger pull-right" (click)="removeRegion(i)"><i class="glyphicon glyphicon-remove"></i></span>
						</li>
					</ul>
				</div>
				<div class="form-group no-print col-md-offset-2 col-md-10">
					<button type="submit" value="Save" class="btn btn-primary" *ngIf="Formstate!='Detail' && Formstate!='Delete'" [disabled]='!inputForm.valid'>Save</button>					|
					<button type="submit" value="Delete" class="btn btn-info" *ngIf="Formstate == 'Delete'">Delete</button> |
					<button type="button" (click)="TableBack()" class="btn btn-danger">Back to List</button>
				</div>
			</div>
		</form>
	</div>
</div>