<table class="table table-bordered">
    <tbody>
        <tr *ngFor="let itspan of createRange(RowsCount)">
            <!-- <i *ngFor="let colspan of createRange(arr_length)"> -->
            <td class="Bimage">
                <qr-code [data]="barcodeData" [size]="70" [level]="'M'"></qr-code>
                <!-- <ngx-qr-code [qrc-value]="barcodeData" [qrc-element-type]="elementType" [qrc-errorCorrectionLevel] = '"M"'></ngx-qr-code> -->
            </td>
            <td class="Btext">
                <p>GBG</p>
                <p>{{visBrandName}}</p>
                <p>{{visModelName}}</p>
                <p class="code"><strong>{{visColorCode}}</strong></p>
            </td>
            <!-- </i> -->
            <td class="Bimage">
                <qr-code [data]="barcodeData" [size]="70" [level]="'M'"></qr-code>
            </td>
            <td class="Btext">
                <p>GBG</p>
                <p>{{visBrandName}}</p>
                <p>{{visModelName}}</p>
                <p class="code"><strong>{{visColorCode}}</strong></p>
            </td>
            <td class="Bimage">
                <qr-code [data]="barcodeData" [size]="70" [level]="'M'"></qr-code>
            </td>
            <td class="Btext">
                <p>GBG</p>
                <p>{{visBrandName}}</p>
                <p>{{visModelName}}</p>
                <p class="code"><strong>{{visColorCode}}</strong></p>
            </td>
            <td class="Bimage">
                <qr-code [data]="barcodeData" [size]="70" [level]="'M'"></qr-code>
            </td>
            <td class="Btext">
                <p>GBG</p>
                <p>{{visBrandName}}</p>
                <p>{{visModelName}}</p>
                <p class="code"><strong>{{visColorCode}}</strong></p>
            </td>
            <td class="Bimage">
                <qr-code [data]="barcodeData" [size]="70" [level]="'M'"></qr-code>
            </td>
            <td class="Btext">
                <p>GBG</p>
                <p>{{visBrandName}}</p>
                <p>{{visModelName}}</p>
                <p class="code"><strong>{{visColorCode}}</strong></p>
            </td>
        </tr>
    </tbody>
</table>